	<!-- Product -->
	<div class="bg0 m-t-23 p-b-140">
		<div class="container">
			<div class="row isotope-grid">
				{{#each products}}
				<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
					<!-- Block2 -->
					<div class="block2">
						<div class="block2-pic hov-img0">
							<img src="/imageUpload/{{this.Images.[0].image2}}" style="width:auto;height:350px" alt="IMG-PRODUCT">
							<a class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15" href="">
								Quick View
							</a>
						</div>
						{{!-- <button class="btn btn-info" onclick="addTocart('{{this._id}}')">Add to cart</button> --}}
						<div class="block2-txt flex-w flex-t p-t-14">
							<div class="block2-txt-child1 flex-col-l ">
								<a href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
									{{this.Product_Name}}
								</a>
								<span class="stext-105 cl3"><i class="fa fa-inr" aria-hidden="true"></i>
									{{this.MRP}}
								</span>
							</div>
							<div class="block2-txt-child2 flex-r p-t-3">
								<a href="" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2"> 
									{{!-- <button onclick="addTowishlist('{{this._id}}')"><i class='far fa-heart '></i></button> --}}
									<button onclick="addTowishlist('{{this._id}}')"><img class="icon-heart1 dis-block trans-04" src="images/icons/icon-heart-01.png" alt="ICON"></button>
									<button onclick="removeProductforcart('{{this._id}}')"><img class="icon-heart2 dis-block trans-04 ab-t-l" src="images/icons/icon-heart-02.png" alt="ICON"></button>
								</a>
							</div> 
						</div>
					</div>
				</div>
				{{/each}}
		</div>
		</div>
	</div>
	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>
	<!-- Modal1 -->
	
