<!-- Shoping Cart -->
{{#if wishlist.products}}
<div class="mt-5" >
		<div class="container mt-5">
			<div class="row">
				<div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
					<div class="m-l-25 m-r--38 m-lr-0-xl">
						<div class="table-shopping-cart">
							<table class="table-shopping-cart">
								<tr class="table_head">
									<th class="column-1">Image</th>
									<th class="column-2">product</th>
									<th class="column-3">Price</th>
									<th class="column-5">Delete</th>
								</tr>
                                  {{#each wishlist.products}}
								<tr class="table_row">
									 
									<td class="column-1">
										<div class="how-itemcart1">
											<a href="/productDetails/:id"><img src="/imageUpload/{{pro_Id.Images.[0].image1}}"></a>
										</div>
									</td>
									<td class="column-2">{{pro_Id.Product_Name}}</td>
									<td class="column-3">Rs.{{pro_Id.MRP}}</td>
									
										
                                 
									
									<td>
                                     <button class="btn btn-outline-secondary btn-outline-danger" type="button" onclick="removeProductforwishlist('{{pro_Id._id}}')">
                      <i class="fa-solid fa-xmark">Remove</i></button>
                  </td>
								{{/each}}
								</tr>
							</table>
						</div>

						
					</div>
				</div>
                   
			</div>
		</div>
		</div>
		{{else}}
        <section class="cart bgwhite p-t-70 p-b-100">
		     <div class="card-body cart mt-5">
			  <div class="col-sm-12 empty-cart-cls text-center">
				<img src="https://i.imgur.com/dCdflKN.png" width="130" height="130" class="img-fluid mb-4 mr-3">
					<h3><strong>Your wishlist is Empty</strong></h3>
						<a href="/" class="btn btn-warning cart-btn-transform m-3" data-abc="true">continue shopping</a>
							</div>
						</div>
        </section>
	    {{/if}}
	    <script>
        function removeProductforwishlist(cartId) {
          $.ajax({
            url: "/deletewishlist",
            data: {
              cart: cartId,
            },
            method: "post",
            success: (Response) => {
              if (Response) {
                //alert('product removed from cart')
                location.reload()
              }
            }
          })
        }
      </script>